// ============================================================================
// LAYOUT: #Layout
// ============================================================================

.main {
  width: 95%;
  margin: 35px auto 20px;

  @include breakpoint($tablet) {
    width: 80%;
  }
}
